/*universal tag -> applies to all*/
* {
    border-width: 1px;
    /*border-color: rgb(255, 0, 0);
    border-style: solid;*/
}

/* select a tag */
h1 {
    color: rgb(255, 35, 130);
    background-color: rgb(255, 234, 209);
    text-align: center;
}

p {
    font-size: 30px;
}


ul {
    background-color: rgb(255, 196, 215);
}

/* select a tag and a class inside div*/
div h3,
.noClass {
    background-color: hsl(42, 70%, 48%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*select an id*/
#para-1 {
    font-style: italic;
    color: rgb(120, 153, 237);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(227, 252, 225);
}

#best-anime {
    background-color: rgb(100, 100, 247);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*span inside id*/
#article-id span {
    font-weight: bolder;
}

#center-div {
    text-align: justify;

    border: 5px;
    border-color: rgb(201, 74, 133);
    border-style: solid;

    font-family: footlight MT light;
    font-size:25px;
    font-weight: bolder;
    text-transform: lowercase;

    letter-spacing: 1px;
    word-spacing: 4px;

    line-height: 40px; /*must be highe than font size*/

    text-shadow: 5px 1px 1px rgb(0, 255, 255);
    text-decoration: underline rgb(208, 26, 26);
}

/*select a class*/
.span1 {
    background-color: chartreuse;
}

.span2 {
    background-color: darkmagenta;
}

/*can also select a specific part of class name*/
.important {
    font-weight: bolder;
    font-style: italic;
    background-color: rgb(144, 103, 182);
}